body {
    margin: 0;
    padding: 0;
    background-color: #fffef8;
    font-family: 'Krona One', sans-serif;
}

main {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    padding: 20px 40px;
    font-family: 'Krona One', sans-serif;
}

h1 {
    font-family: 'Krona One', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
    padding-top: 25px;
}

h2 {
    font-family: 'Krona One', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgb(70, 66, 91);
}

#form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

#fileUpload {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#submitBtn {
    cursor: pointer;
}

.card {
    width: 250px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card header {
    align-items: center;
}

.dropdown-content {
    justify-content: start;
    align-items: start;
    text-align: left;
    width: 400px;
}

#bracket, .columns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
